body {
    text-align: center;
}
/* added button style */
button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* text-align: left timer */
#timer {
    text-align: left;
}

#scoreDisplay {
    text-align: right;
    
}